<h1>
    Overview
</h1>

<div class="groupPromo">
    <div class="listWebpart">
        <ul>
            <li>
                <a asp-action="Index" asp-controller="Innovations">
                    <h3>Submissions</h3>
                    <p>Submit and manage your submissions for solutions for use by the authority.</p>
                </a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="InnovationApprovals">
                    <h3>Approvals</h3>
                    <p>Review and approve ideas submitted by business partners and colleagues.</p>
                </a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="ProjectAssessmentReports">
                    <h3>Assessments</h3>
                    <p>Gather recommendations to solutions from teams across the directorate.</p>
                </a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Recommendations">
                    <h3>Recommendations</h3>
                    <p>Suggested solutions by teams to submitted project requests.</p>
                </a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Decisions">
                    <h3>Decide</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3>Allocate</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </a>
            </li>
        </ul>
    </div>
</div>