<br />

<div class="groupPromo">
    <div class="listWebpart">
        <ul>
            <li>
                <a href="#">
                    <h3>Ideas</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3>Approve</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3>Assess</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3>Decide</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3>Allocate</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </a>
            </li>
        </ul>
    </div>
</div>
