<h1>
    Administration
</h1>

<h2>
    User & Roles
</h2>
<div class="groupPromo">
    <div class="listWebpart">
        <ul>
            <li>
                <a asp-action="Index" asp-controller="Roles">
                    <h3>Roles</h3>
                    <p>Manage the role types used within this application.</p>
                </a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="RoleAssignments">
                    <h3>Role Assignments</h3>
                    <p>Assign roles to users within this application.</p>
                </a>
            </li>
        </ul>
    </div>
</div>

<h2>
    Resources
</h2>
<div class="groupPromo">
    <div class="listWebpart">
        <ul>
            <li>
                <a asp-action="Index" asp-controller="Technologies">
                    <h3>Technologies</h3>
                    <p>Manage the list of technologies the authority uses in its processes.</p>
                </a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Teams">
                    <h3>Teams</h3>
                    <p>Manage the names of the teams involved with the development process.</p>
                </a>
            </li>
        </ul>
    </div>
</div>

<h2>
    Options
</h2>
<div class="groupPromo">
    <div class="listWebpart">
        <ul>
            <li>
                <a asp-action="Index" asp-controller="EffortMeasures">
                    <h3>Effort Measures</h3>
                    <p>Manage the list of effort measures used by the application.</p>
                </a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="ProcessTypes">
                    <h3>Process Types</h3>
                    <p>Manage the list of process types used by the application.</p>
                </a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Status">
                    <h3>Statuses</h3>
                    <p>Manage the status values used by the application.</p>
                </a>
            </li>
        </ul>
    </div>
</div>
