@model Project_Flow_Manager_Models.Recommendation

<a asp-action="Details" asp-controller="Recommendations" asp-route-id="@Model.Id" class="link-back">Back</a>

<h1>Recommendations</h1>
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-8">
         <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Details" class="form-label"></label>
                <textarea asp-for="Details" rows="10" class="form-control-textarea"></textarea>
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Effort.Amount" class="form-label"></label>
                <input asp-for="Effort.Amount" class="form-control" />
                <span asp-validation-for="Effort.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Effort.Measure" class="form-label"></label>
                <select asp-for="Effort.Measure" class="form-control">
                @if(ViewBag.EffortMeasures != null)
                {
                    @foreach(var item in ViewBag.EffortMeasures)
                    {
                        <option value="@item">@item</option>
                    }
                }
                </select>
                <span asp-validation-for="Effort.Measure" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Effort.Id" />
            <input type="hidden" asp-for="Status" value="Updated" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
