@model Project_Flow_Manager_Models.ResourceRequest

<a asp-action="Index" asp-controller="ResourceRequests" class="link-back">Back</a>

<h1>Resourcing</h1>
<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectAssessmentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectAssessmentId)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary btn-arrow" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
</div>
