<footer class="main">
    <section class="footerGlobal">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 logo-footer">
                    <img src="~/img/lcc-logo-white-01.svg" alt="Leeds City Council logo" />
                    <p>Copyright © Leeds City Council @DateTime.Now.Year</p>
                    <p>Management tool for the flow of work from the initial idea to its approval as a project.</p>
                </div>
            </div>
        </div>
    </section>
</footer>