<header class="header-nav-container" role="banner"> 
    <div id="header" class="header-lcc">
        <section class="sectionHeader">
            <div class="container-fluid">
                <div class="header-wrapper">
                    <div class="header-logo">
                        <a href="\" title="Go to the homepage" class="logo">INNOVATION MANAGER - ADMIN<span class="sr-only"> Go to home page</span></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</header>