html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-control-textarea {
    width: 100% !important;
    color: #263238 !important;
    border: 1px solid #90a4ae !important;
    box-shadow: none;
    font-size: 16px;
    padding: 5px !important;
    background: #fff !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    font-size: 19px;
}

.btn-download {
    box-shadow: 0 3px 0 #001b24;
    border-color: #003f55;
    background-color: #003f55;
    color: white;
}

.btn-danger {
    box-shadow: 0 3px 0 #a0101e;
    border-color: #dc3545;
}

.btn-narrow {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.col-wrap {
    word-wrap: break-word;
}